<div class="container">
  <div class="row">
    <div class="form-group col-md-8 col-md-offset-2">
      <legend><h1>Edit Register for: <%= @register.full_name %> </h1></legend>

      <%= render 'form', register: @register %>

      
      <div class="form-row">
        <div class="form-group col-sm-12">
          <%= link_to 'Back', @register %>
        </div>
      </div>
    </div>
  </div>
</div>
