<body style="background-image: url('nipam4.jpg'); background-size: 100% 100%; color: white;">
<div id="new-register">
  <div class="container">
    <div class="row">
      <div class="form-group col-md-8 col-md-offset-2">
        <%= render '/layouts/alerts' %>
        <% if current_uri == '/new' %>
          <legend><h1 style="color: white;">New Register</h1></legend>
        <% else %>
          <legend><h1>New Register</h1></legend>
        <% end %>

        <%= render 'form', register: @register %>

      </div>
    </div>
  </div>
</div>
</body>
