<body style="background-image: url('rfa-background1.jpg'); background-size: 100% 100%;">
<div id="new-register">
  <div class="container">
    <div class="row">
      <div class="form-group col-md-8 col-md-offset-2">
        <%= render '/layouts/alerts' %>
        <%= image_tag("rfa-logo1.jpeg", alt: 'NIPAM', id: "rfa-logo", style: "border-radius: 45%;") %>
        <legend><h1 id="rfa-welcome-heading">RFA VISITOR'S REGISTER</h1></legend>

        <%= render 'form', register: @register %>

      </div>
    </div>
  </div>
</div>
</body>
