<div class="container">
  <div class="row">
    <div class="form-group col-md-8 col-md-offset-2">
      <%= render '/layouts/alerts' %>
      <legend><h1>New Language Proficiency for: <%= @person.title + ' ' +@person.full_name %></h1></legend>
  
      <%= render 'form', language_proficiency: @language_proficiency %>
  
      <%= link_to 'Back', person_path(@person), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
