<div class="container">
  <div class="row">
    <div class="form-group col-md-8 col-md-offset-2">
      <legend><h1>New Person</h1></legend>
  
      <%= render 'form', person: @person %>
  
      <%= link_to 'Back', people_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>