<div class="container">
  <div class="row">
    <div class="form-group col-md-8 col-md-offset-2">
      <legend><h1>New Skill</h1></legend>
  
      <%= render 'form', all_skill: @all_skill %>
  
      <%= link_to 'Back', all_skills_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>