<tr>
    <td><%= professional_membership.body_name %></td>
    <td><%= professional_membership.registration_number %></td>
    <td><%= link_to 'Edit', edit_person_professional_membership_path(@person, professional_membership) %></td>
    <td><%= link_to 'Destroy', [@person, professional_membership], method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>