<h1>Editing Professional Membership for: <%= @person.title + ' ' +@person.full_name %></h1>

<%= render 'form', professional_membership: @professional_membership %>

<%= link_to 'Back', person_path(@person) %>
