<div class="container table-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table id="static-table" class="display">
        <thead>
          <tr>
            <th>Column1</th>
            <th>Column2</th>
            <th>Column3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Data11</td>
            <td>Data12</td>
            <td>Data13</td>
          </tr>
          <tr>
            <td>Data21</td>
            <td>Data22</td>
            <td>Data23</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>