<div class="container">
  <div class="jumbotron">
    <h1>NIPAM Resource Pool</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Curabitur gravida arcu ac tortor dignissim convallis aenean et. 
      Arcu vitae elementum curabitur vitae nunc. 
      Volutpat ac tincidunt vitae semper quis lectus nulla at volutpat. 
      Arcu non odio euismod lacinia.
    </p>
  </div>
</div>