<div class="container">
  <div class="row">
    <div class="form-group col-md-8 col-md-offset-2">
      <legend><h1>New Skill Type</h1></legend>
  
      <%= render 'form', skill_type: @skill_type %>
  
      <%= link_to 'Back', skill_types_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
