<div class="container">
    <h1>New Contact for: <%= @person.title + ' ' +@person.full_name %></h1>

    <%= render 'form', contact: @contact %>

    <%= link_to 'Back', person_path(@person) %>
</div>