<div class="container">
  <div class="row">
    <div class="form-group col-md-8 col-md-offset-2">
      <legend><h1>Editing Specialisation</h1></legend>
  
      <%= render 'form', specialisation: @specialisation %>
  
      <%= link_to 'Back', all_specialisation_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>