<div class="container">
  <div class="row">
    <div class="form-group col-md-8 col-md-offset-2">
      <legend><h1>New Specialisation</h1></legend>
  
      <%= render 'form', all_specialisation: @all_specialisation %>
  
      <%= link_to 'Back', all_specialisations_path %>
    </div>
  </div>
</div>