<div class="container">
    <h1>New Employment History for: <%= @person.title + ' ' +@person.full_name %></h1>

    <%= render 'form', employment_history: @employment_history %>

    <%= link_to 'Back', person_path(@person) %>
</div>