// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*

Main rules

*/

html {
    position: relative;
    min-height: 100%;
    min-width: 100%;
}

body {
    margin-bottom: 60px;
}

.main {
    padding-bottom: 150px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #cffbe4;
    color: #21201e;
    text-align: left;
}

.list-group-item-info {
    text-color: yellow;
    text-align: center;
}

.btn .btn-primary {
    background-color: #cffbe4;
}

/* 

Navigation bar rules 

*/

header {
    padding-bottom: 100px;
}

.navbar-default {
    background-color: #cffbe4;
    border-color: #cffbe4;
    padding-bottom: 30px;
    padding-top: 0px;
}

.navbar-default .navbar-brand {
    padding-top: 0px;
    color: #21201e;
}

@media (min-width: 768px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus {
    color: #21201e;
    background-color: #19b061;
    border-radius: 10px;
}

.navbar-default .navbar-nav > .active > a:hover {
    color: #21201e;
    background-color: #cffbe4;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #21201e;
}

.navbar-default .navbar-text {
    color: #21201e;   
}

.navbar-default .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    color: #21201e;
    background-color: #cffbe4;
    position: relative;
}

.navbar-default .navbar-nav > li > a {
    color: #21201e;
    background-color: #19b061;
    position: relative;
    border-radius: 10px;
    margin-left: 2px; margin-right: 2px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #21201e;
    background-color: #cffbe4;
}
 
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #cffbe4;
}
 
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #21201e;
}
 
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #21201e;
    background-color: #19b061; 
}

.panel-heading h3 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

#login-a {
    margin-right: 15px;
}

#notice {
    text-align: center;
    font-size: large;
    //display: none;
}

#alert {
    text-align: center;
    font-size: large;
    //display: none;
}
