// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*

Main rules

*/

html {
    position: relative;
    min-height: 100%;
    min-width: 100%;
}

body {
    margin-bottom: 60px;
}

.main {
    padding-bottom: 150px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #004078;
    color: white;
    text-align: left;
}

/* 

Navigation bar rules 

*/

header {
    padding-bottom: 100px;
}

.navbar-default {
    background-color: #004078;
    border-color: #004078;
    padding-bottom: 30px;
    padding-top: 0px;
}

.navbar-default .navbar-brand {
    padding-top: 0px;
    color: #ffffff;
}

@media (min-width: 768px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #02559e;
    border-radius: 10px;
}

.navbar-default .navbar-nav > .active > a:hover {
    color: #ffffff;
    background-color: #004078;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}

.navbar-default .navbar-text {
    color: #ffffff;   
}

.navbar-default .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #004078;
    position: relative;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    background-color: #02559e;
    position: relative;
    border-radius: 10px;
    margin-left: 2px; margin-right: 2px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #004078;
}
 
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #004078;
}
 
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
}
 
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #02559e; 
}

.panel-heading h3 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

#login-a {
    margin-right: 15px;
}

#notice {
    text-align: center;
    font-size: large;
    //display: none;
}

#alert {
    text-align: center;
    font-size: large;
    //display: none;
}