// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-container {
    margin-top: 50px;
}

/* 

Sidebar Navigation 

*/

.navbar-inverse {
    background-color: #004078;
    border-color: #004078;
    margin-top: 40px;
}

.navbar-inverse .navbar-brand {
    background-color: #004078;
    color: #ffffff;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #02559e; 
}

.navbar-inverse .navbar-nav > .active > a:hover {
    color: #ddd4d4;
    background-color: #02559e;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #ddd4d4;
}

.navbar-inverse .navbar-text {
    color: #ffffff;   
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    padding-left: 50px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #dd16c6;
}
 
.navbar-inverse .navbar-nav > li > .dropdown-menu {
    background-color: #227800;
}
 
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a {
    color: #f01414;
}
 
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #640808;
    background-color: #5fc203; 
}