<div class="container">
  <div class="row">
    <div class="form-group col-md-8 col-md-offset-2">
      <legend><h1>New Category</h1></legend>
      
      <%= render 'form', category: @category %>
      
      <%= link_to 'Back', categories_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
