<div class="container">

  <div class="row">
    <div class="form-group col-md-8 col-md-offset-2">
      <legend><h1>New Field</h1></legend>
      
      <%= render 'form', field: @field %>
      
      <%= link_to 'Back', fields_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
