<div class="container">
  <div class="row">
    <div class="form-group col-md-8 col-md-offset-2">
      <legend><h1>New Professional Membership</h1></legend>
  
      <%= render 'form', all_professional_membership: @all_professional_membership %>
  
      <%= link_to 'Back', all_professional_memberships_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>