<!-- Footer -->
<footer class="footer navbar-fixed-bottom">
  <div class="container-fluid">
    <!-- Copyright -->
    <div class="footer-copyright py-3">© <%= Date.today.year %> Copyright:
      <a href="http://www.nipam.na/"> NIPAM</a>
    </div>
    <!-- Copyright -->
  </div>
</footer>
<!-- Footer -->