<div class="container">
    <h1>Editing Essay for: <%= @person.title + ' ' + @person.full_name %></h1>
    
    <%= render 'form', essay: @essay %>
    
    <%= link_to 'Back', person_path(@person) %>
</div>